<header class="header-styles">
  <div class="header-logo">
    <i class="fa-solid fa-store"></i>
    <span class="header-title">e-shop</span> 
    </div>
  <div class="header-options">
    <a href="/" class="<%= path === '/' ? 'active' : '' %>">Home</a>
    <a href="/addProduct" class="<%= path === '/addProduct' ? 'active' : '' %>"
      >Add product</a
    >
    <a href="/cart" class="<%= path === '/cart' ? 'active' : '' %>"
      >Cart</a
    >
    <a href="/orders" class="<%= path === '/Orders' ? 'active' : '' %>"
      >Orders</a
    >
  </div>
</header>
